.coursesHead {
  margin-left: 70px;
  // padding: 1px 3px;
  display: flex;
  margin-left: 89px;
}

.groupsHead {
  // margin-right: 100px;
  display: flex;
  // margin: 1px;
  border: 1px solid gray;

}

.group {
  margin-right: 3px;  
  // margin-left: 3px;
  width: 100px;
    border: 1px solid gray;
}
